@model MonthlyReport.Models.Home
@{
    ViewBag.Title = "Edit Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @using (Html.BeginForm("IndexEdit", "Home", FormMethod.Post))
    {
    <div class="row">
        <div class="col-md-8" style="line-height : 1.2; color : black">
            <div style="font-size : 60pt;" class="MetricLanding">Quaterly</div>
            <div style="font-size : 60pt;" class="MetricLanding">Management</div>
            <div style="font-size : 60pt;" class="MetricLanding">Report</div>
            <br />

            <div class="form-group MetricBold">
                <input type="text" style="height : 80px; font-size : 20pt ; width : 50%" value="@Model.quarter" name="quarter" />
            </div>
            <br />
            <div class=" row">
                <div class="col-md-6">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
            <br />
            <div style="border-bottom : 3px solid black; width :45%; text-align : left"></div>
            <br />
            <br />
            <div class="row">
                <div class="col-sm-3">
                    <img width="100%" src="~/Images/DIX30_LOGO.png" />
                </div>
                <div class="col-sm-3">
                    <img width="100%" src="~/Images/OXFORD_LOGO.png" />
                </div>
            </div>
        </div>
    </div>

    }
</div>

