@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style type="text/css">
        .form-control {
            line-height: 14pt;
            height: 30pt;
        }
    </style>
</head>

<body>

    @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post))
    {
        <div class="container-f" style="margin : auto; margin-top : 6%; margin-left : 40%">
            <div class="row" style="padding-top : 1%">
                <div class="col-sm-4">
                    <div class="logo" style="text-align : center">

                        <img src="https://s3.amazonaws.com/dix30/wp-content/uploads/2019/07/Logo-reg.jpg" alt="Quartier DIX30" height="75" width="150" />

                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row" style="padding-top : 5%">
                    <div class="col-sm-4">
                        <label for="password">Current Password</label>
                    </div>
                </div>
                <div class="row" style="padding-top : 1%">
                    <div class="col-sm-4">
                        <input type="password" value="" class="form-control" id="password" name="password" style="font-size : 14pt"  required/>
                    </div>
                </div>
                <div class="row" style="padding-top : 1%">
                    <div class="col-sm-4">
                        <label for="newpassword">New Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4" style=" padding-top : 1%">
                        <input type="password" value="" class="form-control" name="newpassword" id="newpassword"  required/>
                    </div>
                </div>
                <div class="row" style="padding-top : 1%">
                    <div class="col-sm-4">
                        <label for="confirmpassword">Confirm Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4" style=" padding-top : 1%">
                        <input type="password" value="" class="form-control" name="confirmpassword" id="confirmpassword" required />
                    </div>
                </div>
                <div class="row" style="padding-top : 2%">
                    <div class="col-sm-4">
                        <input type="submit" value="Change Password" style="width : 100%; line-height : 20px; padding : 13px; background-color : black;" class="btn btn-primary active" />
                    </div>
                </div>
                <div class="row" style="padding-top : 2%">
                    <div class="col-sm-4">
                        @ViewBag.Message
                    </div>
                </div>
            </div>

        </div>
    }
</body>
</html>



