@model Exception
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request. Kindly contact the developer of this project.</h2>
        <h3>@Model.Message</h3>
        <h4>@Model.StackTrace</h4>
    </hgroup>
</body>
</html>
